@font-face{
    font-family: "나눔고딕";
    src: url("./NanumGothic.ttf");
}
*{
   padding : 0 ;
   margin : 0 ;
  }
  .header{
     padding-top: 0px;

  }

  body {
		background-image:url('main_video.gif');
		background-repeat:repeat-y;
		background-size:100%;
		background-attachment:fixed;
	}
  .front{
   height : 104px;
   margin : 0px 0px 0px 0px ;
   padding : 0px;
   border-width : 0.1px ;
   border-top-style : solid;
   border-bottom-style : solid ;  
    border-color : #212D3A;
    background-color : #212D3A;
    style
  }
  .front ul {
   margin : 60px 40px 0px 0px ;
   list-style : none ;
   text-align : right;
   letter-spacing : 2px;
  }
  .front ul li {
    display : inline ;
    font-family: "나눔고딕";
    font-size: 9.5pt;
  }
  .front ul li a {
   text-decoration : none;
    color : white ;
  }

  .front ul li a:hover {
    color: #AAAAAA;
   }  

    #yellow{ /**-11.10 yellow plus**/
    color: #E8CE48; 
    }

   nav {
   border-bottom-style : solid ;
   border-width : 0px ;
   padding-top : 70px;
   font-family: 나눔고딕;
   font-size: 55px;
   text-align: center;
   padding-bottom : 100px;
   }

   .menu_content{
      font-family: 나눔고딕;
      text-align: center;
      padding-bottom: 40px;
   }

   #content {
    background-color : #ffffff;


   }

   footer {
    font-family: "나눔고딕";
    font-size: 9.5px;
   clear : both ;
   border-width : 0.1px ;
   border-top-style : solid;
   border-bottom-style : solid ;
   border-color : #cfd9df;
   height : 1.7em;
    padding-top : 20px;
    padding-left:200px;
    padding-bottom : 40px;
    }

   .logo{
        position:absolute;
    }
   