@font-face {
    font-family: "nanum";
    src: url("./NanumGothic.ttf");
}

* {
    padding: 0;
    margin: 0;
}

.header {
    padding-top: 0px;

}

body {
    background-image: url('main_video.gif');

    background-size: 100%;
    background-attachment: fixed;
}

.front {
    height: 104px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border-width: 0.1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #212D3A;
    background-color: #212D3A;

}

.front ul {
    margin: 60px 40px 0px 0px;
    list-style: none;
    text-align: right;
    letter-spacing: 2px;
}

.front ul li {
    display: inline;
    font-family: "nanum";
    font-size: 9.5pt;
}

.front ul li a {
    text-decoration: none;
    color: white;
}

.front ul li a:hover {
    color: #AAAAAA;
}

#yellow {
    /**-11.10 yellow plus**/
    color: #E8CE48;
}

nav {
    border-bottom-style: solid;
    border-width: 0px;
    padding-top: 70px;
    font-family: "nanum";
    font-size: 55px;
    text-align: center;
    padding-bottom: 30px;
}

.menu_content {
    font-family: "nanum";
    text-align: center;
    padding-bottom: 40px;
}

#content {
    background-color: #ffffff;
}

footer {
    font-family: "nanum";
    font-size: 9.5px;
    clear: both;
    border-width: 0.1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #cfd9df;
    height: 1.7em;
    padding-top: 20px;
    padding-left: 100px;
    padding-bottom: 40px;
    background-color: #ffffff;
}

.logo {
    position: absolute;
}

/** login **/
.welcome {
    font-size: 30px;
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

.inner_login {
    left: 50%;
    top: 100%;
}

.login_start {
    width: 320px;
    margin: auto;
}

.login_show {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
}

body,
input,
select,
td,
textarea,
th {
    font-size: 13px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

fieldset,
img {
    border: 0;
}

.login_start .box_login {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    box-sizing: border-box;
}

.login_start .inp_text {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 18px 19px 19px;
    box-sizing: border-box;
}

.login_start .inp_text {
    border-top: 1px solid #ddd;
}

.inp_text input {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: #000;
    border: none;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
}

.btn_login {
   margin: 20px 0 0;
    width: 100%;
    height: 48px;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(to right, #B06AB3, #4568DC);   
    border-color: white;
}

.login_append {
    overflow: hidden;
    padding: 15px 0 0;
}

.inp_chk {
    display: inline-block;
    position: relative;
    margin-bottom: -1px;
}

.login_append .inp_chk {
    float: left;
}

.inp_chk .inp_radio {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 0;
}

.inp_chk .lab_g {
    display: inline-block;
    margin-right: 19px;
    color: #909090;
    font-size: 13px;
    line-height: 19px;
    vertical-align: top;
}

.inp_chk .ico_check {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 1px 4px 0 0;
    background-position: -60px 0;
    color: #333;
}

.inp_chk .txt_lab {
    vertical-align: top;
}

.login_append .txt_find {

    float: right;
    color: #777;
}

.login_under {
    margin-top: 15px;
    font-family: "nanum";
    padding-bottom: 15px;
}

.join {
    margin-left: 105px;
}

/** Hailie _ qna **/
table.questionTable{
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin : 20px 10px;
}
table.questionTable tr {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table.questionTable td {
     padding: 15 12;
     vertical-align: middle;
     border-bottom: 1px solid #ccc;
     font-size: 20px;
}
.question_content{
    font-family: "nanum";
}
.btn_question_submit{
    font-weight: bold;
    margin: 15 0 10 0;
    width: 90px;
    height: 24px;
    border-radius: 3px;
    font-family: "nanum";
    font-size: 14px;
    color: #fff;
    background: linear-gradient(to right, #B06AB3, #4568DC); 
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    border: none;
}
.btn_question_list{
    font-weight: bold;
    margin: 15 0 10 0;
    padding : 4 18 4 18;
    border-radius: 3px;
    font-family: "nanum";
    font-weight : normal;
    font-size: 14px;
    color: #000;
    background-color: #aaaa;
    border: none;
}
table.questionTable .button_table{
    border-bottom: 0px;
    text-align: end;
}
table.questionTable .title{
    height:40px;
    font-size:13px;
    font-family: "nanum";
}
table .questionTable .content{
    font-family: "nanum";
}

.qna_table {
    margin-top : 30px;
    font-family: "nanum";
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 1rem;
    text-align: center;
    color: #212529;
}
.qna_table th{
    font-size: 14pt;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    background-color: #eeee
}
.qna_table td {
    font-size: 12pt;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.qna_table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.qna_table tbody + tbody {
    border-top: 2px solid #dee2e6;
}
.btn_question{
    position: relative;
    left: 550px;
    top: 15px;
    padding : 7 17 7 17;
    border-radius: 3px;
    font-family: "nanum";
    font-weight: bold;
    font-size: 13px;
    background-color: #aaaa;
}
.btn_list{
    padding : 7 17 7 17;
    border-radius: 3px;
    font-family: "nanum";
    font-weight: bold;
    font-size: 13px;
    background-color: #aaaa;
}
.btn_answer{
    padding : 7 17 7 17;
    border-radius: 3px;
    font-family: "nanum";
    font-weight: bold;
    font-size: 13px;
    background-color: #aaaa;
}
.question_content_table{
    margin : 30px 5px 60px 5px;
    font-family: "nanum";
    border-collapse: collapse;
    width: 80%;
    margin-bottom: 1rem;
    text-align: center;
}
.question_content_table .cont th {
    padding : 30px;
    border: 1px solid #ccc;
    font-size: 14pt;
    background-color: #eeee;
}

.question_content_table .cont td {
    padding : 30px;
    border: 1px solid #ccc;
    font-size: 12pt;
}

.button_table_content{
    border: none;
    
}
.button_table_content td{
    text-align: end;
    border: none;
}


#answer {
    margin-top : 35px;
}

.answer_button{
    width: 15%;
    height: 28px;
    border-radius: 3px;
    font-family: "nanum";
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: linear-gradient(to right, #B06AB3, #4568DC); 
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    border: none;
}

.page tr td button{
    margin-top:30px;
    border : none;
    margin-right:10px;
    margin-left:10px;
    padding : 10 10 10 10;
    font-family: "nanum";
    font-weight: bold;
    font-size: 13px;
}
.reply{
    background-color: #eeeeff;
}
/** jh join css **/
.table{
   font-family: "nanum";
   font-size:25px;
   width: 400px;
    height: 200px
}
.check{
   margin-left: 10px;
   width: 80px;
    color: white;
    text-align: center;
    background: #4948FF;
    border-radius: 5px;
    border-color : white;
}
.okayjoin{
   width: 90px;
    color: white;
    font-size : 15px;
    text-align: center;
    background: linear-gradient(to right, #B06AB3, #4568DC);   
    border-radius: 5px;
    border-color : white;
}
.btn_answer{
    font-weight: bold;
    margin: 17 0 10 0;
    padding : 7 17 7 17;
    width: 90px;
    height: 29px;
    border-radius: 3px;
    font-family: "nanum";
    font-size: 14px;
    color: #000;
    background: #ccc;
    border: none;
}
/** Amy add css style **/
